.marvel-device {
    display: inline-block;
    position: relative;
    justify-content: center;
    box-sizing: content-box !important;
    margin: auto;
}
.marvel-device .screen {
    width: 100%;
    position: relative;
    height: 100%;
    z-index: 3;
    background: white;
    overflow: hidden;
    display: block;
    border-radius: 1px;
    box-shadow: 0 0 0 3px #111;
}
.marvel-device .top-bar,
.marvel-device .bottom-bar {
    height: 3px;
    background: black;
    width: 100%;
    display: block;
}

.marvel-device .middle-bar {
    width: 3px;
    height: 4px;
    top: 0;
    left: 90px;
    background: black;
    position: absolute;
}

.marvel-device.iphone8 {
    width: 375px; 
    height: 667px; 
    padding: 95px 24px;
    background: #d9dbdc;
    border-radius: 56px;
    box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.2);
}

.marvel-device.iphone8:before {
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    position: absolute;
    top: 6px;
    content: '';
    left: 6px;
    border-radius: 50px;
    background: #f8f8f8;
    z-index: 1;
}

.marvel-device.iphone8:after {
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    position: absolute;
    top: 8px;
    content: '';
    left: 8px;
    border-radius: 48px;
    box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.1), inset 0 0 6px 3px #fff;
    z-index: 2;
}

.marvel-device.iphone8 .home {
    border-radius: 100%;
    width: 68px;
    height: 68px;
    position: absolute;
    left: 50%;
    margin-left: -34px;
    bottom: 22px;
    z-index: 3;
    background: #303233;
    background: linear-gradient(135deg, #303233 0%, #b5b7b9 50%, #f0f2f2 69%, #303233 100%);
}

.marvel-device.iphone8 .home:before {
    background: #f8f8f8;
    position: absolute;
    content: '';
    border-radius: 100%;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    top: 4px;
    left: 4px;
}

.marvel-device.iphone8 .top-bar {
    height: 14px;
    background: #bfbfc0;
    position: absolute;
    top: 68px;
    left: 0;
}

.marvel-device.iphone8 .bottom-bar {
    height: 14px;
    background: #bfbfc0;
    position: absolute;
    bottom: 68px;
    left: 0;
}

.marvel-device.iphone8 .sleep {
    position: absolute;
    top: 190px;
    right: -4px;
    width: 4px;
    height: 66px;
    border-radius: 0px 2px 2px 0px;
    background: #d9dbdc;
}

.marvel-device.iphone8 .volume {
    position: absolute;
    left: -4px;
    top: 188px;
    z-index: 0;
    height: 66px;
    width: 4px;
    border-radius: 2px 0px 0px 2px;
    background: #d9dbdc;
}

.marvel-device.iphone8 .volume:before {
    position: absolute;
    left: 2px;
    top: -64px;
    height: 40px;
    width: 2px;
    border-radius: 2px 0px 0px 2px;
    background: inherit;
    content: '';
    display: block;
}

.marvel-device.iphone8 .volume:after {
    position: absolute;
    left: 0px;
    top: 82px;
    height: 66px;
    width: 4px;
    border-radius: 2px 0px 0px 2px;
    background: inherit;
    content: '';
    display: block;
}

.marvel-device.iphone8 .camera {
    background: #3c3d3d;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 24px;
    left: 50%;
    margin-left: -6px;
    border-radius: 100%;
    z-index: 3;
}

.marvel-device.iphone8 .sensor {
    background: #3c3d3d;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 49px;
    left: 134px;
    z-index: 3;
    border-radius: 100%;
}

.marvel-device.iphone8 .speaker {
    background: #292728;
    width: 70px;
    height: 6px;
    position: absolute;
    top: 54px;
    left: 50%;
    margin-left: -35px;
    border-radius: 6px;
    z-index: 3;
}
.marvel-device.ipad {
    width: 768px; 
    height: 1024px; 
    padding: 40px 24px;
    background: #d9dbdc;
    border-radius: 20px;
    box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.2);
}

.marvel-device.ipad:before {
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    position: absolute;
    top: 6px;
    content: '';
    left: 6px;
    border-radius: 16px;
    background: #f8f8f8;
    z-index: 1;
}

.marvel-device.ipad:after {
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    position: absolute;
    top: 8px;
    content: '';
    left: 8px;
    border-radius: 14px;
    box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.1), inset 0 0 6px 3px #fff;
    z-index: 2;
}

.marvel-device.ipad .home {
    border-radius: 100%;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 50%;
    margin-left: -25px;
    bottom: 20px;
    z-index: 3;
    background: #303233;
    background: linear-gradient(135deg, #303233 0%, #b5b7b9 50%, #f0f2f2 69%, #303233 100%);
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .marvel-device.iphone8 {
        width: 75%;
        height: 600px;
        padding: 60px 16px;
    }

    .marvel-device.iphone8 .home {
        width: 50px;
        height: 50px;
        bottom: 15px;
        margin-left: -25px;
    }

    .marvel-device.iphone8 .top-bar,
    .marvel-device.iphone8 .bottom-bar {
        height: 10px;
    }

    .marvel-device.iphone8 .sleep {
        top: 150px;
        height: 50px;
    }

    .marvel-device.iphone8 .volume {
        top: 148px;
        height: 50px;
    }

    .marvel-device.iphone8 .camera {
        width: 10px;
        height: 10px;
        top: 20px;
    }

    .marvel-device.iphone8 .sensor {
        display: none;
        width: 12px;
        height: 12px;
        top: 40px;
    }

    .marvel-device.iphone8 .speaker {
        width: 50px;
        display: none;
        height: 5px;
        top: 40px;
    }

    .marvel-device.ipad {
        width: 100%;
        height: auto;
        padding: 20px;
    }

    .marvel-device.ipad .home {
        width: 40px;
        height: 40px;
        bottom: 15px;
        margin-left: -20px;
    }
}

@media (max-width: 480px) {
    .marvel-device.iphone8 {
        width: 270px;
        height: 500px;
        /* left: -41px; */
        padding: 40px 12px;
      
    }

    .marvel-device.iphone8 .home {
        width: 40px;
        height: 40px;
        bottom: 10px;
        margin-left: -20px;
    }

    .marvel-device.iphone8 .top-bar,
    .marvel-device.iphone8 .bottom-bar {
        height: 8px;
    }

    .marvel-device.iphone8 .sleep {
        top: 120px;
        height: 40px;
    }

    .marvel-device.iphone8 .volume {
        top: 118px;
        height: 40px;
    }

    .marvel-device.iphone8 .camera {
        width: 8px;
        height: 8px;
        top: 15px;
    }

    .marvel-device.iphone8 .sensor {
        width: 10px;
        height: 10px;
        top: 30px;
    }

    .marvel-device.iphone8 .speaker {
        width: 40px;
        height: 4px;
        top: 30px;
    }

    .marvel-device.ipad {
        width: 100%;
        height: auto;
        padding: 16px;
    }

    .marvel-device.ipad .home {
        width: 30px;
        height: 30px;
        bottom: 10px;
        margin-left: -15px;
    }
}




.marvel-device.ipad {
    width: 576px;
    height: 768px;
    padding: 90px 25px;
    background: #242324;
    border-radius: 44px
}

.marvel-device.ipad:before {
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    position: absolute;
    content: '';
    display: block;
    top: 4px;
    left: 4px;
    border-radius: 40px;
    background: #1e1e1e
}

.marvel-device.ipad .camera {
    background: #3c3d3d;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 44px;
    left: 50%;
    margin-left: -5px;
    border-radius: 100%
}

.marvel-device.ipad .top-bar,
.marvel-device.ipad .bottom-bar {
    display: none
}

.marvel-device.ipad .home {
    background: #242324;
    border-radius: 36px;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 50%;
    margin-left: -25px;
    bottom: 22px
}

.marvel-device.ipad .home:after {
    width: 15px;
    height: 15px;
    margin-top: -8px;
    margin-left: -8px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    position: absolute;
    display: block;
    content: '';
    top: 50%;
    left: 50%
}

.marvel-device.ipad.landscape {
    height: 576px;
    width: 768px;
    padding: 25px 90px
}

.marvel-device.ipad.landscape .camera {
    left: calc(100% - 44px);
    top: 50%;
    margin-left: 0;
    margin-top: -5px
}

.marvel-device.ipad.landscape .home {
    top: 50%;
    left: 22px;
    margin-left: 0;
    margin-top: -25px
}

.marvel-device.ipad.silver {
    background: #bcbcbc
}

.marvel-device.ipad.silver:before {
    background: #fcfcfc
}

.marvel-device.ipad.silver .home {
    background: #fcfcfc;
    -webkit-box-shadow: inset 0 0 0 1px #bcbcbc;
    box-shadow: inset 0 0 0 1px #bcbcbc
}

.marvel-device.ipad.silver .home:after {
    border: 1px solid rgba(0, 0, 0, 0.2)
}
